.d{
    background-image: url("assets/images/background.png");
    width: 100%;
    height: 100vh;
    background-size: cover;

    overflow-x: hidden;
    position: absolute;
    background-repeat: repeat-x;
}

.body{
    margin: 0px;
}

.start{
    list-style: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: 370px;
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-weight: 800;
}

.blue{
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100vw;
    font-size: 150px;
    margin-top: 100px;
    font-family: "Showcard Gothic regular";
    color: rgb(28, 115, 190);
    
}

.sGame{
    font-size: 80px;
    font-family: cursive;
    font-weight: bold;
}

.boy{
    position: absolute;
    height: 300px;
    margin-top: 350px;
    margin-left: 100px;
}

.fire{
    position: absolute;
    width: 80px;
    margin-top: 505px; 
}    

.score{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 40px;
    margin-left: 100px;
}

.end{
    position: absolute;
    width: 50%;
    height: 70vh;
    background-color: hsla(177, 100%, 50%, 0.534);
    border-radius: 50px;
    border-color: black;
    border-style: double;
    
    font-size: 100px;
    font-weight: bold;
    color: black;
    font-family: "Arial";

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 400px;

    visibility: hidden;
}

.btn{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(224, 224, 20);
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}    

.over{
    font-family: "Stencil Regular";
    font-size: 120px;
}